<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Test Driven Development Demonstration - Web Calendar</title>
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--<base href="http://localhost:8080" target="_blank">-->
    <script type="text/javascript">
      var head  = document.getElementsByTagName('head')[0];
      var base = document.createElement("base");
      var url = window.document.location.origin;
      base.href = url;
      head.appendChild(base);
      sessionStorage.setItem("base_url",url);
    </script> 
</head>
<body>

  <div style="text-align: center;">
    <h1 style="background-color:DodgerBlue;">The Humble journey to find the "the real" DevSecOps with Jay Sarna<h1></h1>
    <img src="images/RoadToDevOps.jpg" class="center" width="100%" alt="https://wallup.net/stairs-ferns-forest/"/> 
    <p></p>
    <h2>Web Calendar Sample App<h2>  
    </div>
<p></p>
<br><div style="background-color:Tomato;">
  <h5>Introduction</h5>
  <br>I welcome you to join me in humble journey to find the heart of devops in 2023. This is a sample "JAVA, JENKINS, SPRINGBOOT and COSMOS DB" application developed in Azure cloud via VS Code to demonstrate DevOps in action. 
<br></div>
<p></p>
<br><button onclick="location.href = 'register';" id="myButton" class="float-left submit-button" >Register</button>
<br>
<p></p>
<br>
<h3>Please use sample credentials below to sign in:-</h3>
<br>Username: joshwilliams 
<br>Password: Password1
<hr>
<br>
<h3> SIGN IN: </h3>
<!--<form name="login" action="MyServlet" method="get" onSubmit="return validateMyForm();">
	<u1>
		<br><label for="username">Username: </label>
		<input type="text" ID="usernameTF" name="usernameTF" placeholder="enter username" required>
		<br><label for="password">Password: </label>
		<input type="password" ID="passwordTF" name="passwordTF" placeholder="enter password" required> 
		<br>
		<br>
       <div class="g-recaptcha"
            data-sitekey="6LffHyETAAAAAN-vHjs7KCoSVEWAArUEkcsRSLyS" required></div>
		<br><input type="submit" ID="submit" value="Send" />
	</u1>
</form>-->

<form th:action="@{/authenticate}" th:object="${credential}" method="post">
    <div class="form-group">
      <div class="form-group">
        <label for="exampleInputUsername1"><b>Username</b></label>
        <input type="text" th:field="*{username}" class="form-control" id="exampleInputUsername1" placeholder="Username">
      </div>
    <div class="form-group">
      <label for="exampleInputPassword1"><b>Password</b></label>
      <input type="password" th:field="*{password}" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="g-recaptcha"
            data-sitekey="6LffHyETAAAAAN-vHjs7KCoSVEWAArUEkcsRSLyS" required></div>
    <br>
    <br>
            <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <p></p>
  <h5>Underlying Code Repositories</h5>
  <br>
  <br> All Devops work here is stored in Github public repositories (MIT License). Please google 'BoundlessLove Github' and then relevant repositories are:
  <br>
  <br><table  border="1">
      <tr>
        <td><strong> ID </strong></td>
         <td><strong>Repository Name </strong></td>
         <td><strong> Branch Name </strong></td>
         <td><strong>Purpose </strong></td>
         <td><strong>Build History </strong></td>
      </tr>
      <tr>
        <td> 1. </td>
        <td> ModernTestDrivenDevelopment </td>
        <td> release-june-2023 </td>
        <td> Frontend (Spring boot thymeleaf application) </td>
        <td> see <a href="https://github.com/BoundlessLove/ModernTestDrivenDevelopment/commits/release-june-2023">here</a> </td>
     </tr>
     <td> 2.</td>
        <td> testdrivendevelopment2 </td>
        <td> microservices-cosmosdb-sql-azure</td>
        <td> Backend (Spring boot microservice wrapping Azure NoSQL Cosmos database) </td>
        <td> see <a href="https://github.com/BoundlessLove/testdrivendevelopment2/commits/microservice-cosmos-sql-azure">here</a> </td>
    </tr>
  </tr>
  <td> 3.</td>
     <td> TestAutomationFramework </td>
     <td> master </td>
     <td> Library driving browsers and holding common utilities like waits - Frontend microservice running library - Cucumber project calling frontend microservice</td>
     <td> see <a href="https://github.com/BoundlessLove/TestAutomationFramework/">here, though this one is private</a> </td>
 </tr>    
    </table>
  <p></p>
  <h5> Acknowledgements</h5>
  <br> This websites presents my work stretching back over a decade. While, I have put in effort beyond me on this, it is due to me standing on the shoulders of giants and some exceptionally kind people. These individuals put up articles and tutorials on the web and spend bucket loads of time helping people on forums like stackoverflow. These people are saints. I have made a start on acknowledging them in the references section (see <a href=/microservices-cosmosdb-azure.html target="#References">here</a>). God bless them for their generosity, which I am trying to emulate via  this site too. God bless you all.
  <br> 
  <br> I think I need a wordpress document :) [HEART]. 
  <p></p>
  <h5> Feedback </h5> 
  <br> This is essentially a website demostrating Devops level Quality Assurance process on a modern app. At a fundamental level, quality assurance in IT is about providing feedback to development team via assessing deliverables. This website is a personal deliverable for me. Hence I request you to assess it and provide feedback. 
  <br><br> Please provide feedback <a href="feedback.html" target="_top">here</a> 
  <br>
 <br>
 <br> [2016 and 2023] For details on <u>Test Automation</u> used, please click <a href="detail2.html" target="_top">here</a>
 <br> [2016] For details on <u>Web Services Integration</u> used, please click <a href="integration.html" target="_top">here</a>
 <br> [2016] For details of <u>Continuous integration using Jenkins</u> implemented, please click <a href="cicd.html" target="_top">here</a>
 <br> [2023] For details of <u>Cloud hosting, microservice utilisation and cloud based scalable database use </u>, click <a href=microservices-cosmosdb-azure.html target="_top">here</a> 

 <br><p></p>
  <h5>©Jay Sarna, Wellington, New Zealand - last update - June 2023</h5>
  <br> Please seek my permission before using and/or reproducing any content on this website. I am contactable via messenger on facebook.
 </body>
</html>